.gallery {
    margin-bottom: 1.5em;
    display: grid;
    grid-gap: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {
    .gallery-columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
    }
}

.gallery-caption {
    display: block;
}

// Thumbnail gallery
.gallery-filter_list {
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    list-style: none;
    @include grid(2);
    justify-items: center;
    align-items: center;
    gap: 1rem;

    @media (min-width: $breakpoint_small) {
        @include grid(3);
    }
    @media (min-width: $breakpoint_medium) {
        @include grid(4);
    }
    @media (min-width: $breakpoint_large) {
        @include grid(7);
    }

    li {
        display: inline-block;
        border: 2px solid #ccc;
        border-radius: 4px;
        padding: 0 1rem;
        margin: 0;
        width: 100%;
        text-align: center;
        cursor: pointer;

        :last-child {
            margin-right: 0;
        }
    }
}

// lightGallery in Gallery page
.gallery-list {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    @include grid(2, 200px);
    justify-items: center;
    align-items: center;
    gap: 1.3rem;

    @media (min-width: $breakpoint_small) {
        @include grid(3, 200px);
    }
    @media (min-width: $breakpoint_medium) {
        @include grid(4, 200px);
    }
    @media (min-width: $breakpoint_large) {
        @include grid(7, 200px);
    }

    & li.gallery-thumbnail {
        display: inline-block;
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 2px;
        box-shadow: $thumbnail-black_shadow;

        & img {
            object-fit: cover;
            width: 100%;
            min-width: 100%;
        }
    }
}
