.post-type-archive-ast-gallery{
    .page-title, .gallery-filter h3{
        padding-left: 1rem;
    }
}

.gallery {
    margin-bottom: 1.5em;
    display: grid;
    grid-gap: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    width: 100%;
}

// Loops to enumerate the classes for gallery columns.
@for $i from 2 through 9 {
    .gallery-columns-#{$i} {
        grid-template-columns: repeat($i, 1fr);
    }
}

.gallery-caption {
    display: block;
}

// Gallery filter buttons
.gallery-filter_list {
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 0;
    list-style: none;
    @include grid(2);
    justify-items: center;
    align-items: center;
    gap: 1rem;

    @media (min-width: $breakpoint_small) {
        @include grid(3);
    }
    @media (min-width: $breakpoint_medium) {
        @include grid(4);
    }
    @media (min-width: $breakpoint_large) {
        @include grid(5);
    }
    @media (min-width: $breakpoint_xl) {
        @include grid(7);
    }

    li {
        display: inline-block;
        border: 2px solid #ccc;
        border-radius: 4px;
        padding: 0 1rem;
        margin: 0;
        width: 100%;
        font-size: 1em;
        text-align: center;
        cursor: pointer;

        :last-child {
            margin-right: 0;
        }
        &:hover{
            background-color: $light-orange;
            box-shadow: $thumbnail-black_shadow;
        }
    }
}

.gallery-list__container {
    width: fit-content;
    position: relative;
    left: 50%;  
    transform: translateX(-50%);
}

// Gallery items
.gallery-list {
    width: fit-content;
    height: fit-content;
    min-height: 90vh;
    margin: 0;
    padding: 0;
    list-style: none;
    @include grid(2, 200px);
    justify-items: center;
    align-items: center;
    gap: 1.3rem;

    @media (min-width: $breakpoint_small) {
        @include grid(3, 200px);
    }
    @media (min-width: $breakpoint_medium) {
        @include grid(4, 200px);
    }
    @media (min-width: $breakpoint_large) {
        @include grid(7, 200px);
    }

    & li.gallery-thumbnail {
        display: inline-block;
        aspect-ratio: 1/1;
        overflow: hidden;
        border-radius: 4px;
        box-shadow: $thumbnail-black_shadow;
        margin: 1rem;

        & img {
            object-fit: cover;
            width: 150px;
            height: 150px;
            @media (min-width:$breakpoint_small){
                min-width: 200px;
                min-height: 200px;
            }
        }
    }
}
