body {
    background: $color__background-body; // Fallback for when there is no custom background color defined.
    overflow-x: hidden;
    width: 100%;
}

div.site {
    // Tablet
    @media (min-width: $breakpoint_small) {
        padding: 0 4rem;
    }
    // Desktop
    @media (min-width: $breakpoint_large) {
        padding: 0 8rem;
    }
}