a {
	color: black;
	text-transform: uppercase;

	&:visited {
		color: black;
	}

	&:hover,
	&:focus,
	&:active {
		color: $light-orange;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
