$color__background-body: #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$dark-green: #164746;
$light-green: #CBDAD6;
$light-orange: #FFD0AD;
$transparent-orange: #E0A57915;

$color__text-screen: #080808;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #809b9f;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Box Shadows
$medium-black_shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);;
$thumbnail-black_shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);;
